__pycache__/
*.pyc
*.pyo
*.pyd
.planning/
.claude/

# Logs and temporary files
*.log
*.tmp
*.swp
*~

# Git ignore for output folders
outputs_*/*
results/

.claude/
.planning/
inputs/

# Ignore hidden files
.*.swp
.idea
models
models/*
runs
runs/*
*.jpg
*.jpeg
*.zip
*.png
*.txt

!backgrounds/*.*
