fastapi~=0.115.12
fastapi[standard]
uvicorn
python-dotenv~=1.1.0
opencv-python~=4.11.0.86
numpy~=2.0.2
pillow~=11.2.1
autodistill~=0.1.29
autodistill-grounded-sam
scikit-learn
roboflow
matplotlib~=3.9.4
pydantic~=2.11.3
websocket-client~=1.8.0
requests~=2.32.3
scipy~=1.13.1
transformers~=4.51.3
pandas~=2.2.3
torchmetrics~=1.7.1
diffusers>=0.30.0
tornado~=6.4.2
accelerate>=0.33.0
huggingface_hub>=0.24.0
sentencepiece
questionary~=2.0.1
rich
pyfiglet
attention_map_diffusers
seaborn
openai
lpips
pytest
